<% content_for :title do %> - Lines<% end %>
<div class="page-container">
	<h1>All Lines</h1>
	<%= stylesheet_link_tag "application" %>

	<% @lines.each do |line| %>
	    <%= link_to(line.name, line_path(line)) %> <br>
	<% end %>
</div>
