<% content_for :title do %> - Lines<% end %>
<div class="page-container">
	<h1>All Lines</h1>
	<%= stylesheet_link_tag "application" %>

	<% if @lines.any? %>
		<% @lines.each do |line| %>
			<%= render "lines/show", line: line %>
		<% end %>
	<% else %>
		<em class="placeholder">There are no lines in this Transit Talk app!</em>
	<% end %>
</div>