<% content_for :title do %> - Lines<% end %>
<div class="page-container">
	<h1>All Lines</h1>

	<% if @lines.any? %>
    <%= render "shared/striped_table", table_collection: @lines, row_partial: "lines/show_with_issues" %>
	<% else %>
		<em class="placeholder">There are no lines in this Transit Talk app!</em>
	<% end %>
</div>