<div class="line-cover">
	<h3>
		<div class="page-container">
			<%= @line.long_name %>
			<% if @line.short_name %>
				(<%= @line.short_name %>)
			<% end %>
		</div>
	</h3>
</div>
<div class="page-container">
	<ul class="stop-list">
		<%= render "shared/striped_table", table_collection: @line.stops, row_partial: "stops/show_with_issues" %>
	</ul>
</div>