<div class="back-button-wrapper">
    <%# <button id="back" class="back-button"></button> %>
    <%= link_to(
      content_tag(:button, "Back", class: "back-button"),
      root_path,
      id: "back"
    )%>
</div>