<%= javascript_include_tag "split-button" %>

<div id="type-select">
    <button class="split-button selected" id="lines_near_button">Train/Bus Line</button>
    <button class="split-button" id="stops_near_button">Station</button>
</div>