<%= javascript_include_tag "split-button" %>

<div id="type-select">
    <button class="split-button selected" id="trains_near_button">Trains</button>
    <button class="split-button" id="buses_near_button">Buses</button>
</div>