<% current_line ||= nil %>
<% options ||= {} %>

<div class="row-container">
  <%= link_to stop, class: 'centered row' do %>
    <%= image_tag((stop.bus? ? "bus.svg" : "train.svg"), alt: '', class: "small") %>
    <span class="stop-name"><%= stop.name %></span>
    <% if stop.train? %>
      <div class="stop-colors">
        <% stop.lines.each do |line| %>
          <div class="color-stripe" style="background-color: <%= "##{line.color}" %>"></div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
