<div class="stops-container">
    <%= render "stops/show", stop: stop %>
    <div class="issue-container">
        <ul class="ul-dash">
            <% stop.issues.each do |issue| %>
                <li class="li-dash">
                    <span class="issue-title"><%= issue.types %></span>
                    <span class="issue-time"><%= time_ago_in_words(DateTime.now - 10.minute) %> ago</span>
                </li>
            <% end %>
        </ul>
    </div>
</div>