<% unless stop.lines.empty? %>
<div class="stops-container">
	<%= render "stops/show", stop: stop %>

	<% unless stop.issues.empty? # only show issue container if there are issues to show %>
		<%= render partial: "issues/show_list", locals: {issues: stop.issues} %>
	<% end %>
</div>
<% end %>
