<div class="page-container">
	<h3 class="stop-title">
		<%= @stop.name %>
		<%= render "lines/tiles", lines: @stop.lines %>
	</h3>

	<h4 class="issue-title">Issues</h4>
	<% unless @stop.issues.empty? # only show issue container if there are issues to show %>
		<%= render partial: "issues/show_list", locals: {issues: @stop.issues} %>
	<% else %>
		There are no issues!
	<% end %>
</div>
