<div class="page-container">
	<h3 class="stop-title">
		<%= @stop.name %>
		<%= render "lines/tiles", lines: @stop.lines %>
	</h3>

	<h4 class="issue-title">Issues</h4>
	<% unless @stop.issues.empty? # only show issue container if there are issues to show %>
		<div class="issue-container">
			<ul class="ul-dash">
				<% @stop.issues.each do |issue| %>
					<li class="li-dash">
						<span class="issue-title"><%= issue.types %></span>
						<span class="issue-time"><%= time_ago_in_words(DateTime.now - 10.minute) %> ago</span>
					</li>
				<% end %>
			</ul>
		</div>
	<% else %>
		There are no issues!
	<% end %>
</div>