<% color = 'green' if local_assigns[:color].nil? %>

<div class="separator" style="background-color: <%=color%>">
    <div class="node-external left"><div class="node-internal"></div></div>
    <div class="node-external right"><div class="node-internal"></div></div>
</div>