<% content_for :title do %> - Welcome<% end %>
<div class="page-container">
	<%= stylesheet_link_tag "home" %>

	<h1>About TransitNet CTA</h1>
	<h4>TransitNet CTA is a proof-of-concept implementation for the TransitNet platform, providing
		discussion among communities regarding the status and structure of public transportation stations and lines. <br /><br  />
	Utilizing the data provided by major transit systems for modern-day navigation tools (namely, GTFS),
	TransitNet allows for administrators to easily extend open data for schedules and routes, invigorating a channel for
	activity and productive concern. In turn, both users and contributors can take better advantage of transportative
 	resources, encouraging expedient yet cautious travel. </h4>

	<h4>This project was created by a group of five students and two mentors for HackIllinois 2017.
	To visit the project, visit the <a href="http://github.com/rjaltman/Transit-Network">GitHub repository</a>.</h4>
</div>

<%= new_issue_button %>
