<% content_for :title do %> - Welcome<% end %>
<div class="page-container">
	<%= stylesheet_link_tag "home" %>

	<h1>About Transit Talk</h1>
	<h4>Transit Talk is a platform that democratizes the flow of information about issues that riders encounter on public
	transit.<br /><br  />
	Utilizing the data provided by major transit systems for modern-day navigation tools (namely, GTFS),
	Transit Talk allows for developers to easily extend open data for schedules and routes in their city, creating a channel
	for productive expression of transit issues. We hope to empower transit riders to take better advantage of transportatation
 	resources, and push for positive changes in their transit systems.</h4>

	<h4>To learn more about the tech behind this project, visit our <a href="https://github.com/CaravanTransit/Transit-Talk">GitHub
	repository</a>.</h4></div>

<%= new_issue_button %>
