<% content_for :title do %> - Dashboard<% end %>

<div class="page-container">
    <h2>
        Nearby Stops
    </h2>

    <div id="stops_near">
        <% if @nearbyStops %>
            <% @nearbyStops.each do |i| %>
                <%= i.name %>
            <% end %>
        <% end %>
    </div>

    <% if current_user %>
        <h2>
        	<%= image_tag "star.svg", width: "30px", class: "star" %>
        	Favorite Stops
        </h2>
        <div id="stops_fav">
            <% current_user.issues.each do |fav| %>
                <span class="stop_favorite"> <%= fav %>
                    <span class="issue-at-stop">
                        <% fav.issues.each do |issue| %>
                            <%= issue %>
                        <% end %>
                    </span>
                </span> <br />
            <% end %>
        </div>
    <% end %>
</div>