<% content_for :title do %> - Dashboard<% end %>


<h2>Nearby Stops</h2>
<% Issue.all.each do |i| %>
    <%= i %> <br />
<% end %>

<h2>
	<%= image_tag "star.svg", width: "30px", class: "star" %>
	Favorite Stops

    <div id="stops_fav">
         
    </div>

</h2>
<% Issue.all.each do |i| %>
    <%= i %> <br />
<% end %>
