<div class="page-container">
  <h1>Reported Issues</h1>
  <% if current_user %>
    <% if current_user.issues.any? %>
      <div>You have reported <%= pluralize(current_user.issues.length, 'issue')  %>:</div>
        <%= render "shared/striped_table", table_collection: current_user.issues.order(created_at: :desc), row_partial: "issues/row" %>
    <% else %>
      <em class="placeholder">You have not reported any issues yet!</em>
    <% end %>
  <% else %>
    <em class="placeholder">Log in to see your reported issues.</em>
  <% end %>
</div>
