<div class="page-container">
  <h1>Reported Issues</h1>
  <% if current_user %>
    <% if current_user.issues.any? %>
      <div>You have <%= pluralize(current_user.issues.length, 'issue')  %>:</div>
      <%= render 'issues/show_list', issues: current_user.issues  %>
    <% else %>
      <em class="placeholder">You have not reported any issues yet!</em>
    <% end %>
  <% else %>
    <em class="placeholder">Log in to see your reported issues.</em>
  <% end %>
</div>
