<% content_for :title do %> - View Issues<% end %>
<%= javascript_include_tag "location" %>

<div class="page-container">
    <h2>
        View Issues
    </h2>

	<div id="type-select">
		<button class="split-button selected" id="bus-line-button">Train/Bus Line</button>
		<button class="split-button" id="station-button">Station</button>
	</div>

	<div style="text-align: right;">
		<span># of issues</span>
	</div>

    <div id="stops_near">
        <% if @nearby_stops %>
            <% unless @nearby_stops.empty? %>
                <% @nearby_stops.each do |stop| %>
                    <%= render "stops/show_with_issues", stop: stop %>
                <% end %>
            <% else %>
                <em class="placeholder">There seem to be no nearby stops!</em>
            <% end %>
        <% else %>
            <em class="placeholder">We can't show you nearby stops without location services allowed!</em>
        <% end %>
    </div>

	<div id="back-button">
		<button>< Back</button>
	</div>
</div>

<%= new_issue_button %>

<style>
	#back-button {
		display: flex;
		justify-content: space-around;
	}
	#back-button button {
		padding: 10px 75px;
		border-radius: 5px;
	}
	#stops_near {
		height: 60vh;
		overflow-y: auto;
	}
	#type-select {
		display: flex;
		justify-content: space-between
	}
	#type-select button {
		width: 100%;
	}

	.split-button {
		background: white;
		border: thin solid blue;
		color: blue;
	}

	.split-button.selected {
		background: blue;
		color: white;
	}

	#bus-line-button {
		border-radius: 5px 0px 0px 5px;
	}

	#station-button {
		border-radius: 0px 5px 5px 0px;
	}
</style>