@import 'normalize';

@import 'variables';
@import 'dashboard';
@import 'forms';
@import 'headers';
@import 'home';
@import 'lines';
@import 'loginFields';
@import 'issues';
@import 'stops';
@import 'rows';

* *::before *::after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	font-size: 1.2rem;
	background-color: $background-grey;
}

.column {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	flex-direction: row;
}

.centered {
	align-items: center;
}

.spaced-items > * {
	margin-right: 0.5rem;
}

.page-container {
	max-width: $max-width-page;
	margin: auto;
	padding: $page-padding;

	&.-thin { max-width: 600px; }
}

a {
	text-decoration: none;
	color: #0091ff;
}

// Style global messages
.global-msg {
	padding: 1rem;

	// Negative messages, like you are already signed in
	&.-alert { background-color: #f44336; }
	// Positive messages, like you've signed in
	&.-notice { background-color: #4caf50; }
	* { color: #fff; }
}

.create-issue {
	display: inline-block;
	white-space: pre-line;
	padding: 0 1em;
	background: $theme-color;
	border-radius: 7px;
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 2;
}

body > a.create-issue {
	position: fixed;
	height: 40px;
	width: 40px;
	bottom: 10px;
	background: $theme-color;
	right: 10px;
	border-radius: 20px;
	background-image: url(asset-path('plus.svg'));
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;
}

.striped-table {
	box-shadow: 2px 2px rgba(0, 0, 0, 0.1);

	.stripe {
		background-color: white;
	}

	div.clickable-row a {
		color: black;
	}
}
