/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_tree .
 *= require_self
 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
}

.page-container {
	margin: 64px 15px;
}

/* signin/signup form for mobile - centering after header converted to flexbox */

.new_user {
	padding-top: 100px;
	padding-left: 5px;
	padding-right: 5px;
}

#signin-options {
	margin-left: 30px;
	margin-right: 10px;
	margin-bottom: 0;
	padding-left: 30px;
	padding-right: 10px;
	padding-bottom: 0;
	padding-top: 20px;
}

.space-40 {
	margin-top: 40px;
}

/* signin/signup form for desktop - centering after header converted to flexbox */

@media screen and (min-width: 768px) {
	.desktop-center {
		margin-left: 20%;
		margin-right: 20%;
	}

	.space-40 {
		margin-top: 40px;
	}

	.actions {
		width: 300px;
	}

	.links {
		margin-top: 40px;
		margin-left: 15%;
	}
}

/**/

a {
	text-decoration: none;
	color: #0091ff;
}

body > a > .create-issue {
	position: fixed;
	height: 40px;
	width: 40px;
	bottom: 10px;
	background: #58b7ff;
	right: 10px;
	border-radius: 20px;
	background-image: url(asset-path('plus.svg'));
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;

}

.create-issue {
	display: inline-block;
	height: 14px;
	width: 14px;
	background: #58b7ff;
	border-radius: 7px;
	background-image: url(asset-path('plus.svg'));
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 2;
}
