.star { vertical-align: bottom; }

img.small {
	color: black;
	height: 100%;
	width: 100%;
}

.ul-dash {
	margin: 1px 0;
}

#stops_near,
#stops_fav {
	width: 100%;
	left: 0;
	right: 0;
	padding: 0;
	position: relative;
}
