.star { vertical-align: bottom; }

.lines-container {
	left: 0;
	right: 0;
	padding: 3px 4px 4px 4px;
	margin-bottom: 5px;
	position: relative;
	border-bottom-width: 1px;
	border-bottom-color: white;
}

img.small {
	color: black;
	height: 4vh;
	width: 4vh;
}

.ul-dash {
	margin: 0;
	margin-top: 1px;
	margin-bottom: 1px;
}

.issue-container {
	background-color: rgb(247, 247, 247);
	width: 100%;
	float: center;
	margin-top: 0;
	margin-bottom: 2px;
	padding: 0;
	position: relative;
	display: inline-grid;
}

#stops_near,
#stops_fav {
	width: 100%;
	left: 0;
	right: 0;
	padding: 0;
	position: relative;
}

.issue-title {
	font-size: 18px;
}

.issue-time {
	color: #999;
	font-size: 14px;
}
