.star { vertical-align: bottom; }

img.small {
	color: black;
	height: 100%;
	width: 100%;
}

.ul-dash {
	margin: 1px 0;
}

.issue-container {
	background-color: rgb(247, 247, 247);
	width: 100%;
	margin-top: 0;
	margin-bottom: 2px;
	padding: 0;
	position: relative;
	display: inline-grid;
}

#stops_near,
#stops_fav {
	width: 100%;
	left: 0;
	right: 0;
	padding: 0;
	position: relative;
}

.issue-title {
	font-size: 18px;
}

.issue-time {
	color: #999;
	font-size: 14px;
}
