.field {
	margin-top: 20px;
}

.center {
	margin: 0 auto;
	text-align: center;
}

label {
	color: $label-color;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

input[type="submit"].pill {
	font-family: "Open Sans", "Segoe UI", sans-serif;
	font-weight: 600;
	font-size: 16px;
	cursor: pointer;
	padding: 10px 30px;
	border-radius: 5px;
	background-color: #6cbfff;
	margin-top: 15px;
	color: white;
	border: none;

	&:hover,
	&:focus {
		background-color: #52b4ff;
	}
}

textarea {
	resize: none;
}

/* CHECKBOX GRID */
.checkbox-container input {
	display: none;
}

.checkbox-tile {
	height: 100px;
	width: 100px;
	display: inline-grid;
	font-size: 1rem;
	cursor: pointer;
	background-color: #9ca8b5;
	border-radius: 50%;
	border: 1px solid $border-color;;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

	&.wide {
		border-radius: 2rem;
		width: 100%;
		height: 36px;
	}
}

.checkbox-tile {
	text-align: center;
	color: white;

	.checkbox-text {
		font-size: 14px;
		margin-top: -0.8rem;
	}
}

input:checked ~ .checkbox-tile {
	background-color: #0085ff;
	box-shadow: unset;
}
