// COLOR PALETTE
 $transit-blue: #58b7ff;
 $opacity-blue: rgba(88,183,255,0.1);
 $transit-blue2x: #4692cc;
 $transit-blue5x: #2c5b7f;

 $off-white: #eee;
 $opacity-white: rgba(238,238,238,.6);

 $light-grey: #ccc;
 $solid-grey: #777;
 $solid-grey2x: #555; /* 2 shades darker */

h1 {
  padding: 3em 0 1em 0;
}

.nav {
  background-color: #58b7ff;
  position: fixed;
  min-width: 100%;
  height: 4em;
}

.wrapper {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 2%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 50%;
}

nav ul a {
  color: #fff;
  text-decoration: none;
  transition: all .5s ease;
}

nav ul a:hover {
  color: #903749;
}

nav li {
  display: inline-block;
}

nav #menu-toggle {
  display: none;
}

nav .label-toggle {
  margin-right: 12px;
  display: none;
}

nav .wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  nav nav ul a {
    color: #53354A;
  }

  nav ul {
    background-color: #58b7ff;
    display: block;
    height: 0;
    list-style-type: none;
    opacity: 0;
    text-align: center;
    transition: all 1s ease;
    width: 100%;
    visibility: hidden;
  }

  nav li {
    border-bottom: 2px solid #eee;
    color: #53354A;
    display: block;
    font-size: 1.5em;
    padding: 2em 0;
  }

  nav #menu-toggle:checked ~ ul {
    opacity: 1;
    height: 100vh;
    visibility: visible;
  }

  nav .label-toggle {
    background: linear-gradient(to bottom, #eee 0%,
      #eee 20%, transparent 20%, transparent 40%,
      #eee 40%, #eee 60%, transparent 60%, transparent 80%,
      #eee 80%, #eee 100%);
    cursor: pointer;
    display: block;
    float: right;
    height: 35px;
    margin-top: 1em;
    width: 35px;
  }
  nav .wrapper {
    display: block;
  }
}
