/* Styling for main header with project name and transportation line */
.pageTitle {
	text-align: center;
	color: white;
	font: 14px "Open Sans";
}

/* HEADERS OF STOP SECTIONS ("NEARBY STOPS", "FAVORITE STOPS") */
.stopSections {
	text-align: left;
	color: DimGrey;
	font: 18px "Open Sans";
}

/* HEADERS WITH TRANSPORTATION NAMES ("ROOSEVELT", "CERMAK-McCORMICK") */
.locationStops {
	text-align: left;
	color: DimGrey;
	font: 16px "Open Sans";
}

/*  */
* {
	text-align: left;
	color: DimGrey;
	font: 18px "Open Sans";
}

/* Sub headers showing to input e
