
h1 {
  padding: 3em 0 1em 0;
}

.nav {
  background-color: #58b7ff;
  position: fixed;
  top: 0;
  min-width: 100%;
  height: 64px;
}

span.transit {
  position: absolute;
  top: 1em;
  left: 2em;
  z-index: 99;
  color: #fff;
}

span.transit > p {
  font-size: 28px;
  color: #eee;
}

.wrapper {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 2%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 50%;
}

nav ul a {
  color: #fff;
  text-decoration: none;
  transition: all .5s ease;
}

nav ul a:hover {
  color: #22232f;
}

nav li {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  #wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 90px;
  }

  nav li {
    font-size: 18px;
  }
}


nav #menu-toggle {
  display: none;
}

nav .label-toggle {
  margin-right: 12px;
  display: none;
}

nav .wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {

  nav nav ul a {
    color: #53354A;
  }

  nav ul {
    background-color: #58b7ff;
    display: block;
    height: 0;
    list-style-type: none;
    opacity: 0;
    text-align: center;
    transition: all 1s ease;
    width: 100%;
    visibility: hidden;
  }

  nav li {
    border-bottom: 2px solid #eee;
    color: #53354A;
    display: block;
    font-size: 1.5em;
    padding: 2em 0;
  }

  nav #menu-toggle:checked ~ ul {
    opacity: 1;
    height: 100vh;
    visibility: visible;
  }

  nav .label-toggle {
    background: linear-gradient(to bottom, #eee 0%,
      #eee 20%, transparent 20%, transparent 40%,
      #eee 40%, #eee 60%, transparent 60%, transparent 80%,
      #eee 80%, #eee 100%);
    cursor: pointer;
    display: block;
    float: right;
    height: 35px;
    margin-top: 1em;
    width: 35px;
  }

  nav .wrapper {
    display: block;
  }
}

.search {
    float: right;
    border: 1px solid red;
    margin-right: 15px;
    margin-top: 10px;
    background-image: url(asset-path('search-white.svg'));
    height: 50px;
    width: 50px;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    color: red;
}

.overlay-search {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    z-index: 5;
    display: none;

    form {
        width: 300px;
        margin: 100px auto;
        position: relative;

        input[type="text"] {
            box-sizing: border-box;
            width: 300px;
            height: 40px;
            padding-left: 10px;
            margin: auto;
            font-size: 20px;
        }

        input[type="submit"] {
            box-shadow: none;
            background: url(asset-path("search.svg"));
            border: none;
            background-size: 100%;
            position: absolute;
            right: 5px;
            top: 5px;
            height: 30px;
            width: 30px;
        }
    }
}
