.homepage {
	text-align: center;

	.hero {
		background-color: grey; // TEMP
		padding: 50px 0px;

		* { color: white; }
	}
	.simple-btn {
		display: block;
		width: 50%;
		padding: 10px;
		background: rgba(28, 28, 28, 0.75);
		border: solid 2px white;
		border-radius: 5px;
		color: white;
		margin: 10px auto;
	}
	.blue-btn {
		color: white;
		background-color: #2D9CDB;
		border: solid #757474 3px;
		box-shadow: 0 4px 4px #000;
		border-radius: 10px;

		&.transit {
			width: 25%;

			img { width: 100%; }
		}
	}

	.transit-btn-cont {
		display: flex;
	}
	.logo {
		width: 50%;
		max-width: 500px;
	}
	.view-issues-cont {
		background-color: #D8D6D6;
		padding: 3em 0em;

		.blue-btn {
			padding: 1em 3em;
		}
	}
}