.new-issue-container {
	margin: 0.5rem 0.5rem 0.5rem 0.5rem;
	padding: 1rem;
	background: $card-white;
	border: 1px solid $border-color;
	border-radius: 1rem;

	em {
		color: $label-color;
		float: right;
	}

	.field-issue {
		margin: 0.5rem 0;
	}

	select {
		width: 330px;
		height: 3rem;
		text-align: center;
		padding-bottom: 0.25rem;
	}
}

textarea#issue_description {
	width: 100%;
	height: 4rem;
	border: 1px solid $border-color;
	margin-top: 0.5rem;
}

.issue-container {
	padding: 0.25rem;

	.issue-line {
		width: 3rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.issue-title {
		font-size: 1.2rem;
	}

	.issue-time, .issue-description {
		color: #999;
		font-size: 0.9rem;
	}
}