.line-cover {
	position: relative;
	background-image: url(asset-path('train.jpg'));
	background-size: 100%;
	width: 100%;
	min-height: 100px;
	height: 12vw;
	background-position: center;

	* { color: white; }

	h3 {
		position: absolute;
		width: 100%;
		bottom: 0;
		box-sizing: border-box;
		background-color: rgba(0, 0, 0, 0.7);
		padding: 8px 0;
		margin: 0;
	}
}

.stop-list {
	margin: 0;
	padding: 0;
	list-style: none;

	/* Don't extend line past end of last stop */
	.stop:last-of-type .mark-box {
		height: 50% !important;
	}

	li {
		display: table;
		height: 40px;

		.line-mark {
			position: relative;
			display: table-cell;
			height: 100%;
			width: 30px;

			.mark-box {
				width: 6px;
				position: absolute;
				height: 100%;
				left: 12px;
				background: #535353;
			}

			.mark-circle {
				background: white;
				width: 10px;
				height: 10px;
				position: absolute;
				border: solid 3px;
				border-radius: 50px;
				left: 7px;
				top: calc(50% - 8px);
				border-color: #535353;
			}
		}

		.name {
			display: table-cell;
			vertical-align: middle;
			padding-left: 10px;
		}
	}
}

.stop-partial {
	min-height: 30px;
	margin: 5px 0;

	.line-tile {
		display: inline-block;
		vertical-align: middle;
		padding: 2px;

		a { text-decoration: none; }
	}

	span {
		padding-left: 5px;
		vertical-align: middle;
	}
}

.api-id {
	background: lightgrey;
	color: #535353;
	padding: 2px 6px;
	border-radius: 3px;
}

.line-swatch {
	width: 20px;
	height: 20px;
	border-radius: 50px;
}

.stop-title {
	.line-tile {
		display: inline-block;

		&:first-of-type { margin-left: 5px; }

		.api-id,
		.line-swatch { font-size: 12px; }
	}
}

.issue-title { margin-bottom: 5px; }

.fav-star {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: top;
	background-size: 100%;

	&.favorite { background-image: url(asset-path("star-can-fav.svg")); }
	&.unfavorite { background-image: url(asset-path("star-fav.svg")); }
}
