.field {

	height: 60px;
	width: 100%;
	background-color: white;
	padding-bottom:20px;
	padding-top:14px;

}

input#user_email, input#user_password{

	height: 24px;
	width: 100%;
	/*outline-style: none;*/
	border: 1px #777 solid;
	box-shadow: none;
	margin-top:14px;
	margin-bottom:4px;
	background-color: #f1f1f1;

}

#devise-title {
	font-size:24px;
	/*padding:10px;*/
	/*padding-top:10px;*/
	/*float:left;*/
	margin:0;
	/*padding-left: 5%;*/
	display: inline-block;
	padding:0px;
}

.remember {
	float:left;
 }

.field label {
	font-size: 15px;
	float: right;
	padding-top:10px;
	display:inline-block;
}




label.check-label {

	float: left;
}

form.new_user {
	margin-left: 5%;
	margin-right: 5%;
}


#new_user > div.actions > input[type="submit"] {
	font-size: 16px;
	border-radius: 80px;
	background-color: #6cbfff;
	color: white;
	height: 30px;
	margin-top:15px;
	width: 100%;
	border: none;
	font-family:"Open Sans", "Segoe UI", sans-serif;
	font-weight:600;
}

#new_user > div:nth-child(5) {
	height: 30px;
}

body > div.page-container > h2 {
	padding-left: 5%;
}

a {
	text-decoration: none;
	color:#6cbfff;
}

#signin-options {
	padding-top:15px;
	margin-top:5px;
	text-align: center;
}
