input#user_email,
input#user_password,
input#user_password_confirmation {
	box-sizing: border-box;
	width: 100%;
	max-width: 600px;
	padding: 10px;
	cursor: auto;
	font-size: 1rem;
	border-radius: 5px;
	border: 1px #d6d6d6 solid;
	box-shadow: none;
	margin-top: 15px;
	margin-bottom: 5px;
	background-color: #f1f1f1;
}

.login-link {
	text-decoration: none;
	color: #0076d1;

	&:hover,
	&:focus { text-decoration: underline; }
}

#signin-options {
	padding-top: 15px;
	margin-top: 15px;
	text-align: center;
	display: inline-grid;
}
