.issue-card {
	display: flex;
	justify-content: space-between;
}

.issue-card span {
	margin-right: 5px;
}

.stop-name {
	margin-right: 5px;
}

.color-stripe {
	width: 8px;
	margin-right: 2px;
}

.stop-partial {
	display: flex;
	justify-content: space-between;
}

.stop-label{
	display: flex;
}