<!DOCTYPE html>
<html>
  <head>
    <title>TransitNetwork</title>

  </head>

  <body>
    <b> Transit Network Project </b>
    <=% yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  </body>
</html>
